@media only screen and (max-width: 990px) {
    .container{
        position: absolute;
        top: -12%;
    }
    .navbar{
        z-index: 9998;
    }

    .btn-link{
        width: 200px;
        text-align: center;
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        top: 450px;
        left: 20%;
        border-radius: 50px;
        font-family: 'Berlin Sans FB';
        font-size: 50px;
        background-image: linear-gradient(#ff7300, #d16207);
        color: #fff;
    }

    .quiz-container {
        position: absolute;
        left: 30%;
        top: 30%;
        width: 45%;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgb(255, 136, 0);
        background-image: linear-gradient(#ffe7cf, #ffd4a9);
      }

    .h2-ques {
        color: black;
        top: 10%;
        left: -10%;
        position: absolute;
    }

    .resposta {
        position: absolute;
        top: 30%;
        left: 15%;
        margin-left: 40px;
        margin-right: 40px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        color: black;
        font-size: 25px;
      }

}

@media only screen and (max-width: 800px) {

    .btn-link{
        width: 200px;
        text-align: center;
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        top: 450px;
        left: 20%;
        border-radius: 50px;
        font-family: 'Berlin Sans FB';
        font-size: 50px;
        background-image: linear-gradient(#ff7300, #d16207);
        color: #fff;
    }

    .quiz-container {
        position: absolute;
        left: 30%;
        top: 30%;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgb(255, 136, 0);
        background-image: linear-gradient(#ffe7cf, #ffd4a9);
      }

    .h2-ques {
        color: black;
        top: 10%;
        left: -30%;
        position: absolute;
    }
}

@media only screen and (max-width: 550px) {

    .btn-link{
        width: 200px;
        text-align: center;
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        top: 450px;
        left: 20%;
        border-radius: 50px;
        font-family: 'Berlin Sans FB';
        font-size: 50px;
        background-image: linear-gradient(#ff7300, #d16207);
        color: #fff;
    }

    .quiz-container {
        position: absolute;
        left: 30%;
        top: 30%;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgb(255, 136, 0);
        background-image: linear-gradient(#ffe7cf, #ffd4a9);
      }

    .h2-ques {
        color: black;
        top: 10%;
        left: -60%;
        position: absolute;
    }
}