{% extends 'layout.html' %}
{% block title %}Formulário{% endblock %}
{% block formulario %}
        <h2 class="h2 h2-ques">Questionário</h2>
        <div class="quiz-container">
          <form id="quiz-form" action="/processar" method="post">
              <div class="question-1">
                  <label class="la"  for="nome">1. Insira seu nome:</label>
                  <input class="in" type="text" id="nome" name="nome" required>
              </div>
  
              <div class="question-1">
                  <label class="la"  for="idade">2. Insira sua idade:</label>
                  <input class="in" type="number" id="idade" name="idade" required>
              </div>
  
              <div class="question-1">
                  <label class="la" for="sys_pressure">3. Pressão arterial sistólica:</label>
                  <input class="in" type="number" id="sys_pressure" name="sys_pressure" required>
              </div>
  
              <div class="question-1">
                  <label class="la"  for="dia_pressure">4. Pressão arterial diastólica:</label>
                  <input class="in" type="number" id="dia_pressure" name="dia_pressure" required>
              </div>
  
              <div class="question-1">
                  <label class="la" for="cholesterol">5. O nível do colesterol:</label>
                  <select class="in" id="cholesterol" name="cholesterol" required>
                    <option value="1">Baixo</option>
                    <option value="2">Médio</option>
                    <option value="3">Alto</option>
                  </select>
              </div>
  
              <div class="question-1">
                  <label class="la" for="peso">6. Peso (KG):</label>
                  <input class="in" type="number" id="peso" name="peso" required>
              </div>

              <div class="navigation">
                  <button class="but01" type="submit">Enviar</button>
              </div>
          </form>
      </div>
        </div>
      <script src="../static/js/script.js" type="module"></script>
      <img class="backgroundi" src="../static/imgs/img03.jpg" alt="img03">
{% endblock %}