{% extends 'layout.html' %}
{% block equipe %}
          <section class="time">
            <h2 id="nossotime">Nosso time</h2> 
                <div class="dep">
                  <div class="img-item">
                    <img class="user" src="/static/imgs/Hebert.jpg" alt="Hebert Silva">
                    <h3>Hebert Silva</h3>
                </div>
                <div class="img-item">
                  <img class="user" src="/static/imgs/joao.jpg" alt="João Lucas">
                  <h3>João Lucas</h3>
              </div>
              <div class="img-item">
                <img class="user" src="/static/imgs/Juliel.jpg" alt="Juliel Vieira">
                <h3>Juliel Vieira</h3>
              </div>
                              
                
                <div class="img-item">
                    <img class="user" src="/static/imgs/Matheus.jpg" alt="Matheus Santos">
                    <h3>Mateus Santos</h3>
                </div>
                <div class="img-item">
                  <img class="user" src="/static/imgs/Patrick.jpg" alt="Patrick Souza">
                  <h3>Patrick Souza</h3>
              </div>
                <div class="img-item">
                    <img class="user" src="/static/imgs/Pedro.jpg" alt="Pedro Lima">
                    <h3>Pedro Lima</h3>
                </div>
                
                <div class="img-item">
                    <img class="user" src="/static/imgs/Ronaldo.jpeg" alt="Ronaldo Filho">
                    <h3>Ronaldo Filho</h3>
                </div>
                <div class="img-item">
                  <img class="user" src="/static/imgs/Stefhanyjpg.jpg" alt="Sthefane Caroline">
                  <h3>Sthefane Caroline</h3>
              </div>
            </div>
                </div>
            </div>
        </section>
{% endblock %}