{% extends 'layout.html' %}
{% block title %}Equipe{% endblock %}
{% block equipe %}
          <section class="time">
            <h2 id="nossotime">Nosso time</h2> 
                <div class="dep">
                  <div class="img-item">
                    <img class="user" src="/static/imgs/Hebert.jpg" alt="Hebert Silva">
                    Hebert Silva
                </div>
                <div class="img-item">
                  <img class="user" src="/static/imgs/joao.jpg" alt="João Lucas">
                  João Lucas
              </div>
              <div class="img-item">
                <img class="user" src="/static/imgs/Juliel.jpg" alt="Juliel Vieira">
                Juliel Vieira
              </div>
                              
                
                <div class="img-item">
                    <img class="user" src="/static/imgs/Matheus.jpg" alt="Mateus Santos">
                    Mateus Santos
                </div>
                <div class="img-item">
                  <img class="user" src="/static/imgs/Patrick.jpg" alt="Patrick Souza">
                  Patrick Souza
              </div>
                <div class="img-item">
                    <img class="user" src="/static/imgs/Pedro.jpg" alt="Pedro Lima">
                    Pedro Lima
                </div>
                
                <div class="img-item">
                    <img class="user" src="/static/imgs/Ronaldo.jpeg" alt="Ronaldo Filho">
                    Ronaldo Filho
                </div>
                <div class="img-item">
                  <img class="user" src="/static/imgs/Stefhanyjpg.jpg" alt="Sthefane Caroline">
                  Sthefane Caroline
              </div>
            </div>
                </div>
            </div>
        </section>
{% endblock %}