{% extends 'layout.html' %}
{% block title %}Principal{% endblock %}
  {% block descricao %}
<div id="como">

<P class="feito">   Olá, acreditamos que se você chegou até aqui é porque tem algum interesse em saber como nosso projeto foi feito e como conseguimos alcançar tal resultado. Esta página é exatamente para isso. Vamos explicar passo a passo vários dos nossos desafios e o caminho que percorremos para chegar onde estamos.<br><br></P>

<P class="feito">Todo o nosso projeto começou com a busca por um problema. Esse problema tinha que ser resolvido ou amenizado com a nossa solução, e também deveria haver alguma inclusão social. Nossa equipe teve várias ideias e sugestões, mas acabamos escolhendo a ideia do Heaways, que tem como objetivo avaliar se alguém tem algum risco de ter alguma doença cardíaca e passar um plano de exercícios baseado no resultado adquirido.<br><br></P>

<img class="exemplo" src="../static/imgs/Pensando.jpg" alt="Pensando">

<P class="feito">Após decidirmos sobre nosso projeto, utilizamos o <a class="normal" href="https://uniftc-comunitario-humanas-232.dreamshaper.com/dashboard"> DreamShaper </a>  para seguir adiante. O DreamShaper é uma ferramenta online de Aprendizagem Baseada em Projeto que guia alunos por um passo a passo de etapas, desafios e atividades, oferecendo-lhes conteúdo didático ao longo do caminho.</P>

<img id="teste" src="../static/imgs/DreamShaper.jpg" alt= "Pensando">

<P id="centralizado" class="feito">Seguindo o passo a passo do DreamShaper, utilizamos o <a class="normal" href="https://www.canva.com"> Canva </a>para criar o nosso protótipo inicial do Heaways.</P>

<img id="teste" src="../static/imgs/Canva.jpg" alt="Canva">

<P id="centralizado" class="feito">Após o protótipo ser feito, não tínhamos mais motivos para ficar parados. Começamos a transformar o protótipo em um site real utilizando o <a class="normal" href="https://code.visualstudio.com/"> Visual Studio.</a></P>
<img id="teste" src="../static/imgs/Visual Studio.jpg" alt="Visual Studio">

<P id="centralizado" class="feito">Para conseguir detectar quem tem risco de ter alguma doença cardíaca, precisamos de uma IA (Inteligência Artificial). Para criar a nossa, a equipe teve que buscar várias bases de dados pela internet. Testamos várias bases de dados até encontrar aquela que se adequava melhor ao nosso projeto.</P>
<img id="teste" src="../static/imgs/Kaggle.jpg" alt="Kaggle">

<P id="centralizado" class="feito">Após encontrarmos a nossa base de dados, tivemos que programar a IA, e fizemos isso utilizando o <a href="https://www.python.org/"> Python.</a></P>
<img id="teste" src="../static/imgs/Python.jpg" alt="Python">

<P id="centralizado" class="feito">Com a IA programada e o site completo, precisávamos integrar nossa IA no nosso site. Para isso, utilizamos o <a href="https://flask.palletsprojects.com/en/3.0.x/"> Flask</a>, que é um pequeno framework web escrito em Python.</P>
<img id="teste" src="../static/imgs/Flask.jpg" alt="Flask">

<P id="centralizado" class="feito">Com isso, o DreamShaper estava completo, faltando apenas algumas pequenas alterações finais no nosso HTML/CSS. <br><br></P>

<P class="feito">E foi assim que nossa equipe construiu o site da Heaways! Acabei sem falar várias de nossas dificuldades com nosso projeto, por exemplo, como tivemos que mudar de ideia várias vezes por não encontrar uma base de dados adequada, a dificuldade de encontrar bases de dados interessantes e várias outras dificuldades ao decorrer do semestre.<br> Espero que tenham gostado e entendido o passo a passo de nossa equipe.</P>
{% endblock %}
